# Virtual Environments
.venv/
venv/
env/
new_venv/
src/test_venv/
*.env

# Project specific
files/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Logs and output
*.log
nohup.out
src/nohup.out

# Documentation
docs/

# Temporary files
*.tmp

# Compressed files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
